<!DOCTYPE html>
<html>
<head>
  <title>Milo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ leafletcss }}" />
  <link rel="stylesheet" href="{{ milocss }}" />
  <script src="{{ leafletjs }}"></script>
</head>
<body>
  <!-- Delete this later, just used to show that DB is talking to front end -->
  <div id='db-test'>
    All Users: {{ users }}
  </div>
  <div id="map"></div>
  <script type="text/javascript" src="{{ milojs }}">
  </script>
</body>
</html>

